@use 'element-plus/theme-chalk/el-notification.css';
@use 'element-plus/theme-chalk/el-loading.css';
@use 'element-plus/theme-chalk/el-message.css';
@use 'element-plus/theme-chalk/el-message-box.css';
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}
.el-aside {
  overflow: hidden;
}
.el-menu-item .el-menu-tooltip__trigger {
  justify-content: center;
}
.el-menu-item {
  justify-content: center;
}
